{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="style sheet" type="text/css" href="{% static 'css/sample.css' %}">
	<script type="text/javascript" src ="{% static 'js/sample.js' %}"></script>
</head>
<body>
<h2>Registration</h2>
<form>
	<label>User name</label>
	<input type="text" name=""><br/><br/><br/>
	<label>password</label>
	<input type="password" name=""><br//><br/><br/>
	<label>email</label>
	<input type="email" name=""><br/><br/>
	<button>submit</button>
</form>                
</body>
</html>