{% extends 'html/header.html' %}
{% block tittle %}dynamic form{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-5 mx-auto mt-1">
		<h4 class ="bg-warning text-centre text-light p-2 border rounded mt-2">registration</h4>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for k in tu %}
					<tr>
						<td>{{k.label_tag}}</td>
						<td>{{k}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="create" class="btn btn-primary btn-block">
			</form>
				
		</div>
	</div>
</div>
{% endblock %}