{% extends 'html/header.html' %}
{% block tittle %}login{% endblock %}
{%block content %}
<div class="container">
	<div class ="card col-md-8 mx-auto ">
		<div class= "card-body bg-info">
			<h3 class="bg-success text-light p-3 text-center border rounded bg-dark">registration form</h3>
			<form method="post">
				{% csrf_token %}
				<input type="text" name="uname" placeholder="enter name" class="form-control my-2">
				<input type="email" name="email" placeholder="enter email" class="form-control my-2">
				<input type="pwd" name="pwd" placeholder="enter password" class="form-control my-2">
				<input type="number" name="age" placeholder="enter age" class="form-control my-2">
				<input type="submit" name="" value="sign in"class=" btn btn-success btn-block">
			</form>
			
		</div>
	</div>
</div>		
{% endblock %}
